div.field-memberpassword .label {
	margin: 0 0 1.5em 0;
}
div.field-memberpassword .label .help {
	margin-top: 0.75em;
	margin-bottom: 0;
}
div.field-memberpassword .label label {
	margin-bottom: 0;
	margin-top: 0;
}

div.field-memberpassword .invalid .label {
	background: #dd4422;
	border: 1px solid #cc3311;
	border-bottom: none;
	color: #ffffff;
	margin-bottom: 0;
	padding: 0.75em 1em;
}
div.field-memberpassword .invalid .label .help {
	color: #ffffff;
}